.AboutUs {
    display: flex;
    justify-content: center;
    min-height: 80%;
}

.AboutUsPicture {
    height: 420px;
    width: 420px;
    background-color: gray;
}

.AboutUsText{
    height: 420px;
    width: 420px;
    h1 {
        font-weight: 100;
        font-size: 35px;
        text-align: left;
        margin-left: 30px;
        border-bottom: 1px solid gray;
    }
    p{
        text-align: left;
        margin-left: 30px;
        font-size: 20px;
    }
    .White{
        color: white;
    }
}