.Contact {
	width: 60%;
	height: 500px;
	margin: 0 auto;
	background-color: transparentize($color: #000000, $amount: .6);
	color: #79f7c4;
	display: flex;
	justify-content: space-between;
	.Left {
		margin: 5% auto;
		h1{
			text-align: left;
		}
        table{
            tr{
                td{
                    text-align: left;
                    padding-right: 20px;   
                }
            }
        }
        p{
            text-align: left;
        }
	}
	.Right {
		margin: 2%;
		.Image {
			height: 450px;
			width: 450px;
			background-image: url(./images/map.png);
		}
	}
}
