@import '../../mixins.scss';

.Gallery {
	width: 60%;
	background-color: transparentize($color: #000000, $amount: .6);
	margin: 0 auto;
	height: 500px;
	color: white;
	background-size: cover;
	h1 {
		padding-top: 230px;
	}
	.Buttons{
		font-size: 35px;
		display: flex;
		justify-content: space-between;
		padding: 20% 15px 0 15px;
		.Icon{
			transition-duration: 0.15s;
			color: #e2c96e;
			&:hover{
				cursor: pointer;
				color: darken(#e2c96e, 10%);
			}
		}
	}
}

@include breakpoint (desktop) {
	.Gallery {
		width: 70%;
	}
}

@include breakpoint (laptop) {
	.Gallery {
		width: 80%;
	}
}

@include breakpoint (tablet) {
	.Gallery {
		width: 90%;
	}
}