.SocialMedia {
	list-style-type: none;
	display: flex;
	justify-content: center;
	font-size: 30px;
	li {
		padding: 30px;
		.Facebook,
		.Instagram,
		.Twitter {
			transition-duration: .15s;
		}
		.Facebook {
			color: #3b5998;
			&:hover {
				color: #2f477a;
			}
		}
		.Instagram {
			color: #fe4164;
			&:hover {
				color: #f2003c;
			}
		}
		.Pinterest {
			color: #e60023;
			&:hover {
				color: #bd081c;
			}
		}
	}
}
