.SocialMedia {
    list-style-type: none;
    display: flex;
    justify-content: center;
    font-size: 30px;
    li{
        padding: 30px;
        transition-duration: .15s;
        &:hover{
            color: white;
            cursor: pointer;
        }
    }
}