@mixin phone () {
	@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 192dpi) {
		@content;
	}
}

@mixin column($columns, $margin) {
	width: calc(#{100% / $columns} - #{$margin * ($columns - 1) / $columns});
	margin-right: $margin;

	&:last-child {
		margin-right: 0;
	}
}

@mixin breakpoint($point) {
	@if $point == desktop {
		@media (max-width: 1550px) {
			@content;
		}
	} @else if $point == laptop {
		@media (max-width: 1250px) {
			@content;
		}
	} @else if $point == tablet {
		@media (max-width: 1050px) {
			@content;
		}
	} @else if $point == phablet {
		@media (max-width: 37.5em) {
			@content;
		}
	} @else if $point == mobileonly {
		@media (max-width: 37.5em) and (-webkit-min-device-pixel-ratio: 2),
			(min-width: 37.5em) and (min-resolution: 192dpi) {
			@content;
		}
	}
}
